recursive-include pixmaps *.ico *.png
recursive-include imagizer *.py
recursive-include pyexiftran *
recursive-include screensaver *
recursive-include scrips *

include README.txt
include selector.glade
include README.txt
include config.py
include dirchooser.py
include setup.py
include imagizer.conf-unix
include imagizer.conf-windows